body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app .app-header{
  background-color: #03A9F4;
  padding: 16px;
}

.app .app-header h1 {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

.app-body {
  max-width: 599px;
  margin: 20px auto;
}